/* Navbar */
.navbar {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
}
.navbar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar-links li:not(:last-child) {
  margin-right: 10px;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #00ccff;
}

/*Home page*/

.hero {
  background-color: #f1f1f1;
  padding: 20px;
}

.contianer-home {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contianer-home h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contianer-home p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contianer-home h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contianer-home img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 20px;
}

.about-img {
  text-align: center;
  margin-top: 20px;
}

/* Category */
.category-container {
  display: flex;
}

.main-content {
  flex: 2;
  padding: 10px;
  background-color: #f1f1f1;
}

form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

form input[type="text"] {
  width: 200px;
  padding: 5px;
}

.create-button {
  color: #ffffff;
  background-color: #4b4a4a;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.category {
  display: flex;
  align-items: center;
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

.category p {
  margin: 0;
  margin-right: 10px;
}

.category button {
  color: #ffffff;
  background-color: #4b4a4a;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.category button:hover {
  background-color: #00ccff;
}

/* AdminDashboard */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.sidebar {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
  width: 250px;
}

.sidebar h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #00ccff;
}

.dashboard-content {
  margin-right: 270px;
  flex: 2;
  padding: 30px;
  background-color: #f1f1f1;
}

/* Footer */
.footer {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00ccff;
}
img{
  width:100%
}
/* Make it responisve solve the pitcutre problem*/