/* Navbar */
.navbar {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar-links li:not(:last-child) {
  margin-right: 10px;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 5px;
}

.navbar-links a:hover {
  color: #00ccff;
}
/*Media*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-links li {
    margin-bottom: 5px;
  }

  .navbar-links a {
    margin-right: 0;
  }
}

/* Home page */
.hero {
  background-color: #f1f1f1;
  padding: 20px;
}

.container-home {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container-home h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container-home p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.container-home h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container-home img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 20px;
}

.about-img {
  text-align: center;
  margin-top: 20px;
}

/* Category */
.category-container {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  flex: 2;
  padding: 10px;
  background-color: #f1f1f1;
}

form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

form input[type='text'] {
  width: 200px;
  padding: 5px;
}

.create-button,
.category button,
.product button,
button,
.product a {
  padding: 10px 20px;
  background-color: #4b4a4a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover,
.category button:hover,
.product button:hover,
.product a:hover {
  background-color: #00ccff;
}

.category {
  display: flex;
  align-items: center;
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

.category p {
  margin: 0;
  margin-right: 10px;
}

/* Admin Dashboard */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.sidebar {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
  width: 250px;
}

.sidebar h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #00ccff;
}

.dashboard-content {
  margin-right: 270px;
  flex: 2;
  padding: 30px;
  background-color: #f1f1f1;
}
/*products card:*/

.main-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
}
@media (min-width: 769px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates three equal-width columns */
    gap: 20px; /* Adjust the gap as needed for spacing */
  }
}

.product {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #4b4a4a;
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00ccff;
}

.actions {
  display: flex;
  justify-content: space-between;
}
img {
  width: 40%;
}
/* LoginForm.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.login-form label {
  margin-bottom: 5px;
  color: #ffffff;
}

.login-form input {
  padding: 5px;
  margin-bottom: 10px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #4b4a4a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #00ccff;
}
/* RegisterForm.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the container */
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-form label {
  margin-bottom: 5px;
  color: #4b4a4a;
}

.register-form input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.register-form button {
  padding: 10px 20px;
  background-color: #4b4a4a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #00ccff;
}

.register-form input[type='password']::placeholder {
  color: #999999;
  font-style: italic;
}
/*Search input*/
.search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
}
/*Sorting*/
.sort-by-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sort-label {
  margin-right: 5px;
  color: #4b4a4a;
}

.sort-select {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #f1f1f1 !important;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #4b4a4a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-select:hover {
  background-color: #e0e0e0;
}

.sort-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #00ccff;
}
/* Product Detail Styles */
.products-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
}

@media (min-width: 769px) {
  .products-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.product-detals {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-detals img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
